.dashboardStats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.statBox {
  background-color: #b3e5fc; /* Pastel blue */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 200px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.statBox h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.statBox p {
  font-size: 1.5rem;
  color: #666;
  font-weight: bold;
}

.statBox:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.totalIssues {
  background-color: #b3e5fc; /* Pastel blue */
}

.inProgress {
  background-color: #b3e5fc; /* Pastel blue */
}

.bugsClosed {
  background-color: #b3e5fc; /* Pastel blue */
}

.approvedBugs {
  background-color: #b3e5fc; /* Pastel blue */
}

:global(body) {
  background: #f8f9fa;
} 